{% extends 'base.html' %}
{% load static %}
{% block title %}
    Вход
{% endblock %}
{% block content %}
    <div id="login" class="section1">
        <div class="title">Вход</div>
        <div style="display: flex; justify-content: center;width: 100%">
            <form method="post" class="form-login" action="">
                {% csrf_token %}
                <div class="input-box">
                    <label for="">Введите ваш никнейм</label><br>
                    {{ form.username }}
                </div>
                <div class="input-box">
                    <label for="">Введите ваш пароль</label><br>
                    {{ form.password }}
                </div>
                <button class="login-bt" type="submit">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}