{% extends 'base.html' %}
{% load static %}
{% block title %}
Ваш профиль
{% endblock %}
{% block content %}
    <div id="profile" class="section1">
        <div class="title">Добро пожаловать , {{ profile.full_name }}</div>
        <div style="width: 100%;display: flex; justify-content: space-evenly;align-items: center">
            <div style="display: flex;align-items: center; justify-content: space-evenly; border-radius: 15px; border: 1px solid black;width: 45%;height: 60vh">
                <div>
                    <p class="pp">Никнейм :</p>
                    <p class="pp">Полное имя :</p>
                    <p class="pp">На сайте с :</p>
                </div>
                <div>
                    <p class="pp">{{ profile.user.username }}</p>
                    <p class="pp">{{ profile.full_name }}</p>
                    <p class="pp">{{ profile.register_at }}</p>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; border-radius: 15px; border: 1px solid black;width: 45%;height: 60vh">
                <div></div>
                <div></div>
            </div>

        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'three.min.js' %}"></script>
    <script src="{% static 'vanta.birds.min.js' %}"></script>
    <script>
        VANTA.BIRDS({
            el: "#profile",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            backgroundColor: 0xfafafa,
            color1: 0xd4d4d4,
            color2: 0x4800fc,
            colorMode: "lerp",
            quantity: 3.00
        })
    </script>
{% endblock %}