@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@402&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

* {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-size: 30px;

}

.input {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.input:focus {
    outline: none;
    font-size: 25px;
    font-weight: 900;
    background: white;

}

.input-box {
    height: 100px;
}

.has-text-centered {
    text-align: center;
}

textarea {
    border: 1px solid black;
    resize: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

textarea:focus {
    outline: none;
    transition: all 0.2s linear;

}

select {
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: white;
    font-weight: 900;
    color: black;
    border: 1px solid black;
}

select:focus {
    outline: none;
    background: white;
    color: black
}

.file-box label {
    cursor: pointer;
}

#id_preview {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.file-box {
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.label-create {
    font-size: 15px;
    font-weight: 900;
    color: black;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.modal-btn:checked + label,
.modal-btn:not(:checked) + label {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 900;
    position: relative;
    font-size: 15px;
    line-height: 2;
    transition: all 200ms linear;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}

.modal-btn:not(:checked) + label:hover {
    background-color: white;
    color: #102770;
}

.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    background-color: #ffeba7;
    color: #102770;
    content: '\eac6';
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}


.modal-btn:checked + label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal-btn:checked ~ .modal {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    -ms-flex-item-align: center;
    align-self: center;
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap .modal-item {
    display: block;
}

.modal-btn:checked ~ .modal .modal-wrap {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.section {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.house-card {
    width: 30%;
    height: 500px;
    border-radius: 15px;
    background: white;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.4);
}

.image {
    width: 100%;

}

.house-header {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.house-bio {
    font-size: 20px;
    font-weight: 900;
}

.house-price {
    font-size: 20px;
    font-weight: 900;
    color: #5ba199;
}

a {
    text-decoration: none;
    color: black;
}

.slideshow-container {
    width: 70%;
    position: relative;


}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    border-radius: 15px;

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background: black;
    opacity: 70%;
    text-align: center;
    line-height: 50px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.title {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    display: block;
    width: 100%;
}

.form-button {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: #ddbeaa;
    margin-left: auto;
}

.pp {
    font-size: 25px;

}

.form-login {
    margin-top: 20px;
    width: 50%;
    height:auto;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 30px grey;
    /*background-color: #bbc6c8;*/
    /*border: 1px solid black;*/
    flex-wrap: wrap;
    text-align: center;

}
form-login input {
    width: 65%;
}

.login-bt {
    width: 100%;
    height: 40px;
    background: #ddbeaa;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.section1 {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap
}