{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav class="navbar">
    <a href="" class="nav-item">Home</a>
    <a href="{% url 'nedviga:create' %}" class="nav-item">Create</a>
    <a href="" class="nav-item">Sign in</a>
    <a href="" class="nav-item">Sign Out</a>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
