{% extends 'base_layout.html' %}
{% block content %}
    <div class="form">
        <form method="post" action="">
            {% csrf_token %}
            <div class="input-box">
                <label for="" class="label-create"></label>
                {{ form.convenience }}
            </div>
            <div class="input-box">
                <label for="" class="label-create"></label>
                {{ form.living_space }}
            </div>
            <div class="input-box">
                <label for="" class="label-create"></label>
                {{ form.location }}
            </div>
        </form>
    </div>
{% endblock %}
