{% extends 'base.html' %}
{% block content %}
    <div class="form">
        <form method="post" action="">
            {% csrf_token %}
            <div class="input-box">
                <label for="" class="label-create"></label>
                {{ form.building_type }}
            </div>
            <div class="input-box">
                <label for="" class="label-create"></label>
                {{ form.floor }}
            </div>
            <div class="input-box">
                <label for="" class="label-create"></label>
                {{ form.storeys }}
            </div>
        </form>
    </div>
{% endblock %}